<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layoutsAdmin :: head"></head>

<body>
<nav th:replace="layoutsAdmin :: navbar"></nav>

<div class="container">
    <h2>FileUpload</h2>
    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${successmessage}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong th:text="${successmessage}"></strong>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${errormessage}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong th:text="${errormessage}"></strong>
    </div>
    <form action="/candidate/fileupload" th:object="${candidate}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="fileupload"> File Upload(EXCEL or CVS or JSON)</label>
            <input type="file" class="form-control" id="fileupload" name="file" th:field="*{file}">
        </div>
        <button type="submit" class="btn btn-primary"> Submit</button>
    </form>
    <a th:href="@{/candidate/new}"
       class="btn btn-light btn-sm mb-3">
        New Candidate
    </a>
    <div th:if="${not #lists.isEmpty(candidates)}">
        <h3>Candidates</h3>
        <hr>
        <table class="table table-bordered table-striped">
            <thead class="thead-light">
            <tr>
                <th>Candidate Name</th>
                <th>Last Name</th>
                <th>File Type</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="candidates : ${candidates}">
                <td th:text="${candidates.candidateName.firstName}"/>
                <td th:text="${candidates.candidateName.lastName}"/>
                <td th:text="${candidates.fileType}"/>
                <td>
                    <a th:href="${'/candidate/' + candidates.candidateId}"
                       class="btn btn-light btn-sm mb-3">
                        View
                    </a>
                    <a th:href="${'/candidate/edit/'+ candidates.candidateId}"
                       class="btn btn-light btn-sm mb-3">
                        Edit
                    </a>
                    <a th:href="${'/candidate/delete/' + candidates.candidateId}"
                       class="btn btn-light btn-sm mb-3">
                        Delete
                    </a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>