<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" media="screen">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}" media="screen">
    <style>
        body {
            font-family: "Lato", sans-serif;
            background-image: url("images/vote13.jpg");

            height: 100%;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        }

        h2 {
            color: #0c1255;
        }
    </style>

</head>
<body>
<div>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a th:href="@{/logout}">Logout</a>
    </div>
    <div id="main">
        <span style="font-size:30px;cursor:pointer; color: #0c1255;" onclick="openNav()">&#9776; Menu</span>
    </div>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgb(12,18,85)";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "white";
        }
    </script>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body" style="outline: 3px dashed #0c1255"> <!--dotted-->
                    <div class="text-center">
                        <h3><i class="glyphicon glyphicon-lock" style="font-size:2em;"></i></h3>
                        <h2 class="text-center">Login</h2>
                        <div class="panel-body">

                            <div th:if="${param.error}">
                                <div class="alert alert-danger">
                                    Invalid USER name or PASSWORD.
                                </div>
                            </div>
                            <div th:if="${param.logout}">
                                <div class="alert alert-info">
                                    <!--You have been logged out.-->
                                    You have successfully logged out.
                                </div>
                            </div>
                            <div th:if="${param.resetSuccess}">
                                <div class="alert alert-info">
                                    <!--You successfully reset your password.-->
                                    Your password has been successfully reset.
                                </div>
                            </div>

                            <form class="form-signin" method="post" action="/login">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">@</span>
                                        <input id="username"
                                               name="username"
                                               autofocus="autofocus"
                                               class="form-control"
                                               placeholder="Username"/> <!--Username-->
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="input-group">
                                         <span class="input-group-addon">
                                             <i class="glyphicon glyphicon-lock"></i>
                                         </span>
                                        <input id="password"
                                               name="password"
                                               class="form-control"
                                               placeholder="Password"
                                               type="password"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-block">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            New user? <a href="/" th:href="@{/registration}">Sign Up</a>
                        </div>
                        <div class="col-md-12">
                            Have you forgotten the password? <a href="/" th:href="@{/forgot-password}">Reset
                            password</a>
                            <!--reset password-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div id="button"></div>
    <div id="container">
        <div id="cont">
            <div class="footer_center">
                <h6>
                    <!--<p>If you have a problem, please CONTACT us</p>-->
                    <p>If you have a problem, please CONTACT US</p>
                </h6>
                <a href="mailto:testWebApp13@gmail.com" style="color: deepskyblue">testWebApp13@gmail.com</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>